[Unit]
Description="solarpi watchdog: sync device with ftp server periodically"
[Service]
User=pi
WorkingDirectory=/home/pi/
ExecStart=sh -c '/usr/local/bin/watchdog_job.sh'
